li {
  list-style: none;
  padding: 25px 25px 10px 25px;
}

ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.spaceship-anchor:hover {
  text-decoration: none;
}

.spaceship-img {
  height: 80%;
  width: auto;
}

.spaceship-listing {
  background-color: transparent;
  border: 5px solid #d4b22f;
  border-radius: 5px;
  /*padding: 25px 25px 25px 25px;*/
  height: 250px;
  width: auto;
}

.spaceship-listing:hover {
  border-color: #900000;
}

.spaceship-title {
  padding:  0px 20px 0px 20px;
  color: #d4b22f;
  font-family: starWarsFull;
  text-align: right;
}

.spaceship-anchor {
  /*width: 100%;*/
}
