<div
  class="row">

  <div
    class="col-lg-1 col-md-1 col-sm-1 col-x-sm-1 filler-div">
  </div>

  <div
    class="col-lg-10 col-md-10 col-sm-10 col-x-sm-10">
    <ul
      class="row">
      <li
        *ngFor="let spaceship of spaceships"
        class="col-x-sm-12 col-sm-12 col-m-6 col-lg-6"
      >

          <a
            class="spaceship-anchor "
            routerLink="/spaceship"
            routerLinkActive="active"
            (click)="selectSpaceship(spaceship)"
          >
            <div class="spaceship-listing row">
              <img
                class="spaceship-img"
                *ngIf="spaceship.imgUrl"
                src="/assets/images/spaceships/thumbs2/{{spaceship?.imgUrl}}.png">
              <h2
                class="spaceship-title starsFull">
                {{spaceship?.name}}
              </h2>
            </div>
          </a>

      </li>
    </ul>
  </div>


  <div
    class="col-lg-1 col-md-1 col-sm-1 col-x-sm-1 filler-div">
  </div>

</div>
