<p>
  spaceship-detail works!
</p>
<div>
  Selected Spaceship: <span>{{selectedSpaceship?.name}}</span>
  <div>
    <div>{{selectedSpaceship?.manufacturer}}</div>
    <div>{{selectedSpaceship?.class}}</div>
    <div>{{selectedSpaceship?.techspecs?.length}}</div>
    <div>{{selectedSpaceship?.techspecs?.maxaccel}}</div>
    <div>{{selectedSpaceship?.techspecs?.MGLT}}</div>
    <div>{{selectedSpaceship?.techspecs?.maxatmosphericspeeded}}</div>
    <div>{{selectedSpaceship?.techspecs?.hull}}</div>
    <div>{{selectedSpaceship?.techspecs?.sensor}}</div>
    <div>{{selectedSpaceship?.techspecs?.targeting}}</div>
    <div>{{selectedSpaceship?.techspecs?.argmament}}</div>
    <div>{{selectedSpaceship?.techspecs?.communications}}</div>
  </div>
</div>
