<div>
  Selected Spaceship: <span>{{selectedSpaceship?.name}}</span>
  <div>
    <div>Manufacturer: {{selectedSpaceship?.manufacturer}}</div>
    <div>Class: {{selectedSpaceship?.class}}</div>
    <div>Length: {{selectedSpaceship?.techspecs?.length}}</div>
    <div>Max Acceleration: {{selectedSpaceship?.techspecs?.maxaccel}}</div>
    <div>MGLT: {{selectedSpaceship?.techspecs?.MGLT}}</div>
    <div>Max Atmos Speed: {{selectedSpaceship?.techspecs?.maxatmosphericspeeded}}</div>
    <div>Hull: {{selectedSpaceship?.techspecs?.hull}}</div>
    <div>Sensor: {{selectedSpaceship?.techspecs?.sensor}}</div>
    <div>Targeting: {{selectedSpaceship?.techspecs?.targeting}}</div>
    <div>Armament: {{selectedSpaceship?.techspecs?.armament}}</div>
    <div>Communications: {{selectedSpaceship?.techspecs?.communications}}</div>
  </div>
</div>
